.header {
  padding: 34px 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.header__logo {
  max-width: 254px;
  width: 100%;
}

@media screen and (max-widht: 320px) {
  .header__logo {
    max-width: 188px;
    min-height: 52px;
  }
}
